<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" Content-Type="text/css">

  <title>Banco de Alimentos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../stylesheets/listStyle.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar fixed-top navbar-dark bg-dark" id="navtop">
    <a class="navbar-brand" href="#">BANCO DE ALIMENTOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Sair<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/foodRegister">Cadastrar<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <table class="table table-striped table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Alimento</th>
        <th scope="col">Descrição</th>

        <% for(index = 0; index < bank[bank.length -1].nutrientsList.length;index++){ %>
        <th scope="col">
          <%=bank[bank.length -1].nutrientsList[index] + " (" + bank[bank.length -1].nutrientsUnit[index] + ")"%></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for (index = 0; index < bank.length-1; index++) {%>
      <tr>
        <th scope="row"><%=index+1%></th>
        <td><%=bank[index].ALIMENTO%></td>
        <td><%=bank[index].DESCRICAO%></td>

        <% for(let x = 0; x < bank[bank.length -1].nutrientsList.length;x++){ %>
        <% var indexOfArray = bank[index].NUTRIENTE.indexOf(bank[bank.length -1].nutrientsList[x]) %>
        <% if(indexOfArray >-1){ %>
        <td><%= bank[index].QUANTIDADE[indexOfArray] %> </td>
        <%}else{ %>
        <td>0</td>
        <% } %>

        <% } %>
      </tr>

      <% } %>
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>